{% extends 'global/base.html' %}

{% block content %}
  <div class="form-wrapper">
    <h2>Register</h2>

    <form action="{{ form_action }}" method="POST"> {% csrf_token %} {% comment %}proteção contra ataques{% endcomment %}
      {% for fields in form %}
        <div class="form-content">
          <div class="form-group">
            <label for="{{ fields.id_for_label }}">{{ fields.label }}</label>
            {{ fields }}
            {{ fields.errors }}

            {% if fields.help_text %}
              <p class="help-text">{{ fields.help_text }}</p>
            {% endif %}
                        
          </div>
        </div>
        {% endfor %}
        
        <div class="form-group">
          <button class="btn" type="submit">Send</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
